@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Rubik');

/*
font-family: 'Rubik', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Rock+Salt');*/

/*
font-family: 'Rock Salt', cursive;
font-family: 'Open Sans', sans-serif;
*/

.custom-cursor{
    cursor:url('../images/spray.png'), auto;    
}

body{
    height: 100%;
    width:100%;
    background-color: #eaeaea;
}

h1,h2,h3,h4,h5{
    font-family: 'Rubik', sans-serif;
/*    font-family: 'Rock Salt', cursive;*/
}

/*
#headline{
    margin-top: -20px;
}
*/

h1{
  padding-top: 10px;
  padding-bottom:50px;    
  text-transform: uppercase;
  letter-spacing: -0.1em;
  font-size: 230px;
  text-align: center;
  margin: auto;
  position: relative;
/*  top: 10vh;*/
/*  z-index: 20;*/
  color: rgba(166, 16, 46, 0.84);
}

.help {
    cursor: help;
}
.mainimg{
  max-width: 400px;
  margin: auto;
  display: block;
  z-index: 10;
  position: relative;
  margin-top:20px;
}

.brick-bg{
    background-image: url(../images/brickwall_@2X.png);
    height: auto;
    background: cover;
    width: 100%;
}


.colorbg1{
    margin-top: -25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgb(214, 214, 214);
}

.bg2{
    background-color: #ffffff;
    height: auto;
    width: 100%;
}
div{ 
    
  width: 100%;
}

.lndin-p{
    margin-top: 5px;
}
p{
  font-family: 'Roboto Mono', monospace;
/*    font-family: 'Open Sans', sans-serif;*/
  max-width: 450px;
  font-size: 16px;
  line-height: 24px;
  margin: auto;
  padding: 1rem;
}
.line-out{
    text-decoration: line-through;
    
}
nav {
    font-size: 14px;
/*    font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto Mono', monospace;
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 56px;
    line-height: 56px;
}

nav a {
    color: #444;
}
.side-nav li > a {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 30px;
    font-weight: 500;
/*
    height: 60px;
    line-height: 48px;
    margin-top: 30px;
    margin-bottom: 30px;
*/
    text-align: center;
}
.side-nav li > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
/*
    padding-top: 10px;
    padding-bottom: 60px;
*/
}

.scroll-arrow{
    margin-top: -30px;
}

.scroll{
    margin-top: -40px;
    line-height: 3;
    text-decoration: underline;
    font-size: 14px;
    color: #555555;
}


.bgleft{
    background-color: #efefef;
    height: 500px;
    width: 50%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.maninfo{
    
    position: relative;
    font-size: 60px; 
/*    margin-top: -50px;*/
    margin-top: 20px;
    
}

.leftimg1{ 
margin: 0 auto;
margin-top: -50px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;

}

.hdr-right{
    color: #a6102e;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.inforight{
    font-size: 14px;
    line-height: 30px;
    margin-top: -40px;
}

@media (max-width: 600px) {
  h1{
    font-size: 90px;
    top: 34px;
  }
}


.gallery {
    width: 100%;
    border: 1px solid #EEE;
}

.placeholder {
    width: 50%;
    margin: 1%;
    float: left;
    
}

.placeholder img {
    border: 1px solid #EEEEEE;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    min-height: 400px;
    max-height: 500px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   
}

.gallery-images {
    width: 55%;
    float: left;
}

.image img {
    width: 31.333%;
    min-height: 130px;
    float: left;
    margin: 1%;
    cursor: pointer;
}

.image img:hover {
    width: 31.333%;
    min-height: 130px;
    border: 2px solid black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
   
.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #1771a6;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}


.modal {
    background-color: #e0e0e0;
    
  
    
}

.modtext-para{
    font-size: 14px;
    line-height: 23px;
    
}

.modpic{
    
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(188, 24, 24, 0.92);
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

.spinner-blue, .spinner-blue-only {
    border-color: #fdfdfd;
}


.fader{
    position: relative;
    padding-top: 60%;
    overflow: hidden;
}

.fader .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    opacity: 0;
}
 
.fader img.slide{
    height: auto;
}

.fader .prev,
.fader .next{
  position: absolute;
  height: 80px;
  line-height: 55px;
  width: 50px;
  font-size: 100px;
  text-align: center;
  color: #fff;
  top: 50%;
  left: 0;
  z-index: 4;
  margin-top: -25px;
  cursor: pointer;
  opacity: .7;
  transition: all 150ms;
}

.fader .prev:hover,
.fader .next:hover{
  opacity: 1;
}

.fader .next{
  left: auto;
  right: 0;
}

.fader .pager_list{
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  bottom: 0;
  text-align: center;
  z-index: 4;
}

.fader .pager_list li{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 7px;
  background: #fff;
  opacity: .7;
  text-indent: -999px;
  border-radius: 999px;
  cursor: pointer;
  transition: all 150ms;
}

.fader .pager_list li:hover,
.fader .pager_list li.active{
  opacity: 1;
}

.z-depth-1, nav, .collapsible, .side-nav {
     box-shadow: none !important; 
}


#sidenav-overlay {
 
    z-index: 996;
}

.pic1-bg{
margin-top: 20px;
background-image: url(../images/pic16.jpg);
height: 100vh;
    width: 100%;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}

.fixd-info{
    
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.45);
    margin-top: 285px;
    position: relative;
    height: 435px;
    width: 450px;
    border-top-left-radius:8px;
border-top-right-radius: 8px;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
}
.fixd-info-p{
    margin: 0 auto;
  position: relative;
   padding: 30px;
   font-size: 14px;
   font-weight: 400;
}
.pic2-bg{
margin-bottom: 20px;
margin-top:20px;
background-image: url(../images/pic11.jpg);
height: 140vh;
width: 100%;
/*background-position: center center;*/
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}

.fixd-info-2{
     
    margin-right: 30px;
    background-color: rgba(0, 0, 0, 0.45);
    margin-top: 300px;
    position: relative;
    height: 330px;
    width: 450px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
}


.fixd-hdl1{
    padding-top: 15px;
    margin-bottom:-10px;
     color: #0d95eb;
    font-size: 50px;
    
}


.fixd-hdl{
    margin-bottom: -10px;
     color: #0d95eb;
    font-size: 50px;
}



.slider .indicators .indicator-item.active {
    background-color: #444;
}

.apester-media{
    
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);  
}

.gallery {
    width: 100%;
    border: none;
}

.material-icons {

    font-size: 32px !important;

}


.tweets{
    width: 80%;
    
}

.comments{
  background: #fff;
  padding: 20px 30px;
  font-size: 14px;
}
.comments h3{
  color: #000;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  margin-bottom: 15px;
}
.comment-view {
  margin-bottom: 20px;
}
.comment-view img{
  border-radius: 50%;
  width: 60px;
  float: left;
  margin-right: 10px;
  margin-top:10px;
}
.comment-view h4{
  display: inline-block;
  font-weight: 700;
  color: black;
  margin-right: 15px;
  margin-bottom: 5px;
  
}
.comment-view span span{
  display: inline-block;
  border-radius: 50%;
  border: 3px solid grey;
  vertical-align: middle;
  margin-right: 15px;
}
.comment-view span{
  font-size: 12px;
}
.comment-view p{
  margin-left: 70px;
}
.bg3{
    background-color: #e6e6e6;
    padding-bottom: 25px;
}

.grey-text.text-lighten-3 {
    color: #eeeeee !important;
}
.grey-text.text-lighten-3:hover {
    color: #bc1818 !important;
}